.main{
    background-image: url(bg-pattern-top-desktop.svg), url(bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 10% top 10%, right 10% bottom 10%;
    height: 100%;
   width: 100%;

   
}   

.body, html{
   
    
    height: 100%;
}

.top{
    
    margin: 0 auto;
    text-align: center;
     width: 16em;
}

.top h1{
    color: hsl(300, 43%, 22%);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.top p{
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan';
    font-size: small;
    font-weight: bold;
    width: 20em;

} 


.rate{
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
    width: 350px;
    margin: 25px auto;
    

  }

.rate1, .rate2, .rate3{
    margin: 0 auto;
    background-color: hsla(300, 33%, 94%, 0.993);
    width: 83%;
    border-radius: 6px;
   
    
}

.card{
    height: 60 rem;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    gap: 1rem;
    margin: 0 auto;
 
}
.card img{
    border-radius: 50%;
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.card h5{
    padding-left: 20px;
    word-spacing: 3px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-height: 18px;
    font-family: 'Spartan';
    font-size: x-small;
  
}

.card p{
    font-family: 'Spartan';
    font-weight: 400;
    font-size: small;
    line-height: 18px;
    word-spacing: 2px;
    padding-top: 5px;
    margin: 3px 15px;
}
.pic1, .pic2, .pic3{
    display: flex;
  }

  .card p{
      font-family:'Spartan';
      font-size: x-small;
      margin-bottom: 10px;
      margin-top: -5px;
      width: 25em;
      margin: 0 auto;
  }

  .card span{
    color: hsla(333, 80%, 67%, 0.719)
  }


.card1, .card2, .card3{
    margin: 0 auto;
    background-color: hsl(300, 43%, 22%);
    border-radius: 3px; 
    padding: 18px 20px;
    width: 65%;
    max-width: 260px;
    min-width: 260px;

}

.rate1, .rate2, .rate3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    
    

}

.star1, .star2, .star3{
 
   margin-top: 10px;
   transform: translateY(-20%);
}

.para1, .para2, .para3{
    font-family: 'Spartan';
    font-size: x-small;
    font-weight: bolder;
    color: hsl(300, 43%, 22%);
    margin-bottom: 15px;
    transform: translateY(-20%);
}

.para3{
    transform: translateY(-30%);
}


@media(min-width: 1240px){

    .main{
        background-position: left -5% top -100%, right -40% bottom 40%;
    }
    .contain{
        display: flex;
       width: 940px;
    margin:0 auto;
       justify-content: space-between;
       
    }
    
    .top p{
        width: 28em;
    }

.rate{
        margin: 0;
    width: 400px;
    height: 150px;
    margin-top: 30px;
}

    .top{
        text-align: left;
        margin: 0;
    }

    .card{
        flex-direction: row;
        height: 200px;
        margin-top: 30px;
    }

    .card1{
        align-self: flex-start;
    }

    .card2{
        align-self: center;
    
    }

    .card3{
        align-self: flex-end;
        
    }

    .rate1 {
         align-self:flex-start;
         margin: 0;
    }

    .rate3{
        align-self: flex-end;
        margin: 0;
    }
   
    .rate1, .rate2, .rate3{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 28%;
    }

    .para1, .para2, .para3{
        transform: translateY(8px);
    }

    .para1, .para2{
        transform: translateY(12px);
    }

    
}
